<table border>
  <th> Idea </th>
  <th> Category </th>
  <tr>
    <td> <%= @idea.idea %> </td>
    <td> <%= @idea.category.name %>
  </tr>
</table>

<br>

<%= link_to "Idea Index", user_ideas_path %>
